@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');


html { 
	scroll-behavior: smooth;
}

.clearfix:after {: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  }

.innerWrapper {
	max-width: 620px;
	margin: 0 auto;
}

h2, h4 {
	font-family: 'Abril Fatface', serif;
}

h2 {
	font-size: 3rem;
	text-align: center;
	padding-top: 100px;
	margin: 0 0 30px 0;
}

/* NAV SECTION */

.companyName {
	padding: 18px 17px 18px 15%;
	margin: 0;
	float: left;
	color: #fff;
	width: 45%;
	background: rgba(0,0,0,0.7);
	font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
	font-size: 1.8rem;
	text-align: left;
  font-variant: small-caps;
}

nav {
	padding: 0;
	margin: 0;
	width: 55%;
	float: right;
}


header nav ul {
	float: right;
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 100%;
	border-right: 20px solid rgba(0,0,0,0.7);
}

header nav ul li {
	float: left;
	margin: 0;
	display: inline;
	width: 25%;
	text-align: center;
	background: rgba(0,0,0,0.7);
}

header nav ul li:hover {
	background: none;
  font-style: bold;
  transform: scale(1.2);
}

header nav ul li a {
	text-decoration: none;
	padding: 25px 20px;
	color: #fff;
	margin: 0;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
}

header nav ul li a:focus {
	outline: none;
}

/* HEAD SECTION */
header {
	background: url(https://images.pexels.com/photos/3738339/pexels-photo-3738339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-size: cover;
	background-attachment: fixed;
}

.hero {
	text-align: center;
	text-shadow: 1px 0 2px #595859;
}

.hero h1 {
	font-size: 5.5rem;
	margin:0;
	padding-top: 200px;
	font-family: 'Abril Fatface', serif;
	color: #fff;
}

.hero h3 {
	padding-bottom: 250px;
	font-family: 'Quicksand', sans-serif;
	font-style: italic;
	color: #fff;
	font-size: 1.7rem;
	font-weight: 700;
	margin: 0;
}


@media (max-width:900px) {
  .companyName {
    width: 100%;
    text-align: center;
    padding: 4% 4%;
  }
  
 .mainNav {
    width: 100%;
  }
  
  header nav ul {
    border: none;
  }
  
  header nav ul li a {
    padding: 25px 2%;
  }
}



/*grid system for mobile*/
@media screen and (max-width: 800px) {
	.grid-container {
	  display: grid;
	  grid-template-columns: auto;
	  background-color: white;
	  padding: 0px;
	}
  }
  
  /*grid system for web page*/
  @media screen and (min-width: 600px) {
	.grid-container {
	  display: grid;
	  grid-template-columns: auto auto;
	  background-color: white;
	  padding: 100px;
	}
  }
  
  .grid-item {
	background-color: white;
	border: none;
	padding: 30px;
	text-align: center;
  }
  
  img {
	  width: 100%;
	  height: auto;
  }


  li {
	  list-style-type: none;
	  font-family: 'Barlow', sans-serif;
  }

 

  p {
	font-family: 'Barlow', sans-serif;
	font-size: large;
	
  }

  h1 {
	font-family: 'Barlow', sans-serif;
	text-align: center;
  }
  h4 {
	  text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	  font-size: 20px;
	  font-family: 'Barlow', sans-serif;
  }
 
  .footer {
	  position: relative;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  background-color:white;
	  color: black;
	  text-align: center;
  }


